IG instrument: {{ d.instrument.epic }}
Expiry:        {{ d.instrument.expiry }}
Name:          {{ d.instrument.name }}
Market ID:     {{ d.instrument.marketId }}
Market status: {{ d.snapshot.marketStatus }}
Change (net):  {{ d.snapshot.netChange }}
Change (%):    {{ d.snapshot.percentageChange }}
Sell:          {{ d.snapshot.bid }}
Buy:           {{ d.snapshot.offer }}
High:          {{ d.snapshot.high }}
Low:           {{ d.snapshot.low }}